* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif ;
   
}

body{
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}



::-webkit-scrollbar {
  width:0;  
  background: transparent;  
}

/* actual classes */

.canvas {
  z-index: -10;
  position: fixed;
  height: 100vh;
  top:0;
  left:0;
  background-color: transparent;
}



.noscroll {
  overflow: hidden;
  overflow-x: hidden;
}

.scrollallow {
  overflow: scroll;
  overflow-x: hidden;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}



